@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
	font-family: Poppins;
}
@media (min-width: 1200px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1200px;
	}
}
.navbar a{
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	text-decoration: none;
	letter-spacing: 0.1em;

	color: #000000;
}
.navbar address{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	/* or 317% */

	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
}